<h1>Adopt a pet</h1>
<p>These pets are all ready for adoption. Check out each pet's details for more info and to give them their new forever home.</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Type</th>
      <th>Breed</th>
      <th>Admission Date</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
<% for pet in @pets %>

  <tr>
    <td><%= pet.name %></td>
    <td><img src="/<%= pet.photo %>" height="300px" width="300px" ></td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.admission_date %></td>
    <td> <a href="<%= pet.id %>">Details</a></td>
  </tr>
<% end %>
</tbody>
</table>

<div class="button"><a href="/pets/new">Add a new pet</a></div>
<div class="button"><a href="/owners/new">Add a new owner</a></div>
