<h1>Pets</h1>

<div class="button"><a href="/pets/new">Add a new pet</a></div>

<table>
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Type</th>
    <th>Admission Date</th>
    <th>Details</th>
  </tr>
<% for pet in @pets %>
  <tr>
    <td><%= pet.name %></td>
    <td><img src="/<%= pet.photo %>" height="300px" width="300px" ></td>
    <td><%= pet.type %></td>
    <td><%= pet.admission_date %></td>
    <td> <a href="pets/<%= pet.id %>">Details</a></td>
  </tr>
<% end %>
</table>
