<h1>Update
  <%= @pet.name %>'s Details</h1>

<form action="/pets/<%= @pet.id %>" method="post">

  <fieldset>

    <legend>Animal Info</legend>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= @pet.name %>" required>
    <br><br>

    <label for="type">Type:</label>
    <select id="type" name="type"  required>
      <option value="Dog" <%= 'selected' if 'Dog' == @pet.type %>>Dog</option>
      <option value="Cat" <%= 'selected' if 'Cat' == @pet.type %>>Cat</option>
      <option value="Rabbit" <%= 'selected' if 'Rabbit' == @pet.type %>>Rabbit</option>
      <option value="Small Animal" <%= 'selected' if 'Small Animal' == @pet.type %>>Small Animal</option>
      <option value="Exotic Animal" <%= 'selected' if 'Exotic Animal' == @pet.type %>>Exotic Animal</option>
    </select>
    <br><br>

    <label for="breed">Breed:</label>
    <input type="text" id="breed" name="breed" value="<%= @pet.breed %>" required>
    <br><br>

  </fieldset>
  <fieldset>

    <label for="can_adopt">Ready for adoption?</label>
    <input type="checkbox" name="can_adopt" id="can_adopt" value="true" <%= 'checked' if @pet.status == "Ready for Adoption" %>/>
    <br><br>

    <label for="photo">Photo:</label>
    <input type="text" name="photo" value="<%= @pet.photo %>">

    <br><br>

    <label for="status">Status:</label>
    <select id="status" name="status" required>
      <option value="Ready for Adoption" <%= 'selected' if "Ready for Adoption" == @pet.status %>>Ready for Adoption</option>
      <option value="At The Vet" <%= 'selected' if "At the Vet" == @pet.status %>>At The Vet</option>
      <option value="Adopted" <%= 'selected' if "Adopted" == @pet.status %>>Adopted</option>
      <option value="In Evaluation" <%= 'selected' if "In Evaluation" == @pet.status %>>In Evaluation</option>
      <option value="In Training" <%= 'selected' if "In Training" == @pet.status %>>In Training</option>
    </select>
    <br><br>

    <p>Change Owner</p>
    <label for="owner">Owner:</label>
    <select name="owner_id" id="owner">
      <option value="" <%= 'selected' if @pet.owner_id == nil %>>---</option>
      <% for owner in @owners %>
      <option value=<%= owner.id %> <%= 'selected' if owner.id == @pet.owner_id %>><%= owner.name %></option>
      <% end %>
    </select>

    <br><br>
    <input type="submit" value="Update this pet">

  </fieldset>

</form>
