<h1>Owner Details</h1>
<h2><%= @owner.name %></h2>
<p>Phone Number:
  <%= @owner.phone_number %></p>

<h3><%= @owner.name %>'s Pets</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
  </tr>
  <% for pet in @pets %>
  <tr>
    <td>
      <a href="/pets/<%= pet.id %>"><%= pet.name %></a>
    </td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
  </tr>
  <% end %>
</table>

<div class="update_delete">
  <div class="button">
    <a href="/owners/<%= @owner.id %>/delete">Delete this Owner</a>
  </div>
  <div class="button">
    <a href="/owners/<%= @owner.id %>/edit">Update this Owner</a>
  </div>
</div>
